<div id="logo">
  <h1><a href="#">WoW Box</a></h1>
  <h2 id="slogan">Attempting to not waste your time</h2>
</div>

<ul id="feature_menu">
  <li><a class="current" href="#">DID YOU KNOW...</a></li>
</ul>

<div id="feature">
  <img src="images/feature_img.gif" alt="Featured" />
  <p>Famine of Al'Akir (EU - PvP) wipes the groups he goes with almost everyday! Protect yourself from him with WoW Box! (Trust us, you'll need it)</p>
  <p><a class="more" href="#">&not; READ MORE</a></p>
</div>

<div class="clear"></div>

<div id="left">
  <h2><a href="#">Today's featured article</a></h2>
  <p class="date"><span>18th</span><br />July</p>
  <p class="subtitle">Aenean justo nisl, luctus sit amet, malesuada ac, dignissim ac, eros</p>
  <p>Maecenas libero neque, volutpat sit amet, varius et, <em>pretium quis</em>, purus. Nulla ut magna. Nunc nec dui eget erat vulputate sagittis. Suspendisse fermentum odio. Mauris magna sem, pellentesque sit amet, nonummy vel, nonummy id, velit. <a href="#">Mauris facilisis quam ut semper adipiscing</a>, magna diam laoreet ante, ac varius massa dolor sit amet augue. Vivamus purus. Integer consequat. Nunc et nunc. <a href="#">Phasellus augue</a> diam, vestibulum non, iaculis eget, tristique sed, lectus. Sed pede. Nullam egestas ante a mauris. Aliquam metus turpis, luctus ac, sagittis eget, elementum tincidunt, massa. Aenean justo nisl, luctus sit amet, malesuada ac, dignissim ac, eros nec dui eget erat vulputate sagittis.</p>
  <p><a class="more" href="#">&not; READ MORE</a> <a class="more" href="#">&not; COMMENT [12]</a> <a class="more" href="#">&not; SHARE</a> </p>
</div>

<div id="side">
    <div class="boxtop"></div>
    <div class="box">
      <h3>POPULAR ARTICLES</h3>
      <a href="#">
      <span class="item">
        <span class="sidedate">4.5<br /><span>RATING</span></span>
        <strong>Lorem ipsum dolor sit amet</strong><br />Consectetuer adipiscing elit.
      </span>
      </a>
      <a href="#">
      <span class="item">
        <span class="sidedate">4.5<br /><span>RATING</span></span>
        <strong>Suspendisse odio orci</strong><br />Nam tortor libero, dictum vulputate.
      </span>
      </a>
      <a href="#">
      <span class="item last">
        <span class="sidedate">4.5<br /><span>RATING</span></span>
        <strong>Aliquam metus turpis luctus ac</strong><br />Suspendisse egestas fringilla odio.
      </span>
      </a>
    </div>
    <div class="boxbottom"></div>
</div>
<p id="ad">Suspendisse egestas fringilla odio. Donec lacinia tristique ante. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam blandit ultricies nisl. Nullam dapibus, mauris id scelerisque feugiat, sapien augue porta ipsum, ut blandit tellus enim vel mauris. Praesent accumsan metus vel. </p>